.outerDiv {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
}

.redTurnText {
    color: red;
}

.turnText {
    font-weight: 600;
    font-size: larger;
}